:root {
	--mf: #222;
	--mb: #eee;
	--af: #0275d8;
	--ab: #fff;
	--rb1: #96e8e8;
	--rb2: #b0caff;
	--pl: #bbf5bb;
	--mi: #fbc3c3;
}

body {
	color: var(--mf);
	background: var(--mb);
}

nav {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--ab);
	z-index: 1;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
	padding: 15px 16px;
	text-decoration: none;
	color: var(--af);
}

nav li a:hover {
	color: var(--ab);
	background: var(--af);
}

nav li a:active {
	color: var(--pl);
}

nav li div {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.4);
	background: var(--ab);
}

nav li:hover div, nav li div a {
	display: block;
}

main {
	margin-top: 40px;
}

section {
	position: fixed;
	top: 57px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background: rgb(220 220 220 / 70%);
	overflow: auto;
}

article {
	padding: 5px;
	background: var(--rb1);
}

figure {
	margin: 20px auto;
	padding: 10px;
	background: var(--rb2);
}

figcaption {
	text-align: center;
}

table {
	border: 1px solid var(--mf);
	border-collapse: collapse;
        background: var(--mb);
}

td {
	border: 1px solid var(--mf);
}

input, select, .edit {
	border-color: var(--af);
	color: var(--af);
	background: var(--ab);
}

input, select {
	margin: 0 0 5px;
	padding: 2px;
	box-sizing: border-box;
}

input:focus, input:hover, select:focus, select:hover, .edit:hover {
	color: var(--ab);
	background: var(--af);
}

input:active, select:active, .edit:active {
	color: var(--mf);
	background: var(--mb);
}

.plus {
	background: var(--pl);
}

.minus {
	background: var(--mi);
}

.money_table td:nth-child(3),
.money_table td:nth-child(8) {
	min-width: 80px;
}

.money_table td:nth-child(4),
.money_table td:nth-child(5),
.num {
	text-align: right;
}

.login_form {
	width: 360px;
	margin: auto;
}

.login_form form {
	position: relative;
	background: var(--mb);
	max-width: 360px;
	padding: 45px;
}

.login_form input[type=text],
.login_form input[type=password],
.login_form input[type=button] {
	outline: 0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.edit {
	cursor: pointer;
}

#edit_form figure {
	width: 600px;
}

#report figure {
	display: inline-block;
	min-width: 175px;
	margin: 5px;
}

form {
	line-height: 32px;
        background: var(--mb);
}

form label {
	display: inline-block;
	width: 110px;
	text-align: right;
}

input[type=text].combobox_input {
	width: 428px;
}

input[type=text] {
	width: 450px;
}

input[type=button].combobox_button {
	margin-left: -6px;
	width: 24px;
}

input[type=button] {
	width: 120px;
}

select {
	width: 450px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--mb);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--ab);
  border-bottom: 1px solid var(--mb);
  color: var(--af);
}
.autocomplete-items div:hover {
  background-color: var(--af);
  color: var(--ab);
}
.autocomplete-active {
  background-color: var(--af) !important;
  color: var(--ab) !important;
}
