{% extends "layout.html" %}
{% block title %}База данных{% endblock %}
{% block content %}
<table>
 <thead><tr>
  <th>Тип<th>Имя<th>Имя<th><th>Запрос
 </thead><tbody>
{% for row in rows %}
  <tr>
  {% for r in row %}
  <td>{{ r }}
  {% endfor %}
{% endfor %}
 </tbody>
</table>
<article>
<form action="" method="post">
  <p><textarea rows="20" cols="110" name="sc" autofocus>{{ sc }}</textarea>
  <p><label></label> <input type="submit" value="Выполнить">
</form>
<p>INSERT INTO servs (name, comment, grups_id) 
   VALUES('', '', 0)</p>
<p>UPDATE servs 
   SET name='', comment='', grups_id=0
   WHERE id=0</p>
<p>DELETE FROM servs WHERE id=127</p>
</article>
{% endblock %}
