{% extends "layout.html" %}
{% block title %}Подгруппы{% endblock %}
{% block content %}
<script>
function edit(id){
  window.open("/grups_edit?id=" + id,"_self")
}
</script>
<table>
 <thead><tr>
  <th><th>Имя<th>Описание<th>Группа
 </thead><tbody>
{% for row in rows %}
  <tr>
  <td class="edit"><div onclick="edit({{ row[0] }})">Ред.</a>
  <td>{{ row[1] }}
  <td>{{ row[2] }}
  <td>{{ row[3] }}
{% endfor %}
 </tbody>
</table>
<article>
<form id="tf" name="table_filters" method="post" action="">
  <p><label></label><input type="button" value="Добавить запись" name="table_edit" onclick="edit(-1)"></p>
</form>
</article>
{% endblock %}
