{% extends "layout.html" %}
{% block title %}Выписка из сбербанка{% endblock %}
{% block content %}
<form action="/import_form3" method="post">
<table><tr><th><th>Дата<th>Время<th>Контора<th>Сумма<th>Остаток<th>servs_id
{% for row in rows %}
  <tr class="{% if row['sm']>0 %}plus{% else %}minus{% endif %}">
  <td><input type="checkbox" name="ck" value="{{ row['dt'] }};{{ row['sm'] }};{{ row['se'] }};{{ row['nm'] }}"{% if row['ck'] %} checked{% endif %}>
  <td>{{ row['dt'] }}
  <td>{{ row['ti'] }}
  <td>{{ row['nm'] }}
  <td class="num">{{ "%.2f"|format(row['sm']) }}
  <td class="num">{{ "%.2f"|format(row['os']) }}
  <td class="num"><select name="se">
  <option value="-1"></option>
  {% for k in servs %}
  <option value="{{ k[0] }}"{% if row['se']==k[0] %} selected{% endif %}>{{ k[1] }}</option>
  {% endfor %}
  </select>
{% endfor %}
</table>
  <p><label>Кошелёк</label> <select name="wa">
  <option value="-1"></option>
  {% for row in walls %}
  <option value="{{ row[0] }}"{% if wa==row[0] %} selected{% endif %}>{{ row[1] }}</option>
  {% endfor %}
  </select></p>
  <p><label> </label> <input type="submit" value="Сохранить в БД">
</form>
{% endblock %}
