{% extends "layout.html" %}
{% block title %}Импорт выписки из сбербанка{% endblock %}
{% block content %}
<form action="/import_form2" method="post" enctype="multipart/form-data">
  <p><label>Кошелёк</label> <select name="wa">
  <option value="-1"></option>
{% for row in walls %}
  <option value="{{ row[0] }}"{% if wa==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select></p>
  <p>пример: pdftotext -layout Document-2021-05-21-130856.pdf doc2.txt
  <p><label>Выбрать файл:</label> <input type="file" id="bankstate" name="bankstate" accept=".txt"></p>
  <p><label> </label> <input type="submit" value="Отправить файл">
</form>
{% endblock %}
