{% extends "layout.html" %}
{% block title %}Выписка из сбербанка{% endblock %}
{% block content %}
<table><tr><th>Дата<th>se<th>Сумма<th>Контора
{% for row in rows %}
 <tr>
  <td>{{ row[0] }}
  <td>{{ row[1] }}
  <td>{{ row[2] }}
  <td>{{ row[3] }}
{% endfor %}
</table>
{% endblock %}
