<!doctype html>
<html><head><meta charset="utf-8">
<title>{% block title %}Кошелёк{% endblock %}</title>
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{% if request.cookies.get('cssid') %}{{ url_for('static', filename='style'+request.cookies.get('cssid')+'.css') }}{% else %}{{ url_for('static', filename='style.css') }}{% endif %}" id="css">
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script>
function ajaxsend(url, data, elem){
 var xhr = new XMLHttpRequest();
 xhr.open("POST", url, true);
 xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
 xhr.onreadystatechange = function(){
  if((xhr.readyState == 4) && (xhr.status == 200)){
   elem.innerHTML = xhr.responseText;
  }
 }
 xhr.send(data);
}
function ajaxsend1(url, elem){
 var xhr = new XMLHttpRequest();
 xhr.open("GET", url, true);
 xhr.onreadystatechange = function(){
  if((xhr.readyState == 4) && (xhr.status == 200)){
   elem.innerHTML = xhr.responseText;
  }
 }
 xhr.send(null);
}
function id_close(id){
 var sect = document.getElementById(id);
 if(sect) sect.parentNode.removeChild(sect);
}
function get_new_sect(id){
 id_close(id);
 var sect = document.createElement("section");
 sect.id = id;
 document.body.appendChild(sect);
 return sect;
}
function ch_css(id){
 document.getElementById("css").href="/static/style"+id+".css";
 document.cookie = "cssid="+id;
}
</script>
</head>
<body>
<nav>
  <li><a href="/">Операции</a>
  {% if session['full_acc']==1 %}
  <li><a>Списки &#9662;</a>
  <div>
    <a href="/servs">Конторы</a>
    <a href="/grups">Подгруппы</a>
    <a href="/bgrup">Группы</a>
    <a href="/walls">Кошельки</a>
    <a href="/users">Пользователи</a>
    <a href="/money_order">Сортировка</a>
  </div>
  {% endif %}
  <li><a>Отчёты &#9662;</a>
  <div>
    <a href="/report01">Отчёт №1, помесячно, группы</a>
    <a href="/report02">Отчёт №2, помесячно, группы</a>
    <a href="/report03">Отчёт №3, в среднем за месяц, подгруппы</a>
    <a href="/report04">Отчёт №4, в среднем за месяц, группы</a>
    <a href="/report05">Отчёт №5, помесячно, группы, пользователь</a>
    <a href="/report06">Отчёт №6, помесячно, группа, конторы</a>
    <a href="/report07">Отчёт №7, помесячно, группа, подгруппы</a>
  </div>
  {% if session['full_acc']==1 %}
  <li><a>Служебные &#9662;</a>
  <div>
    <a href="/import_form">Импорт</a>
    <a href="/backup">Резервное копирование</a>
    <a href="/db_structure">Создать db_structure.sql</a>
    <a href="/db">База данных</a>
  </div>
  {% endif %}
  <li><a>Оформление &#9662;</a>
    <div>
      <a onclick="ch_css(1)">Тёмный стиль</a>
      <a onclick="ch_css(2)">Светлый стиль</a>
      <a onclick="ch_css(3)">Третий стиль</a>
      <a onclick="ch_css(4)">Ещё один стиль</a>
    </div>
  <li><a href="/logout">Выйти</a>
  {% if session['full_acc']==1 %}
  <li><a href="/shutdown">Выкл.</a>
  {% endif %}
</nav>
<section>{% block content %}{% endblock %}</section>
</body>
</html>
