{% extends "layout.html" %}
{% block title %}Войти в кошелёк{% endblock %}
{% block content %}
<form action="" method="post">
  <p><label>Имя</label><input type=text name=username autofocus>
  <p><label>Пароль</label><input type=password name=password>
  <p><label></label><input type=submit value=Войти>
</form>
{% endblock %}