{% extends "layout.html" %}
{% block title %}Редактировать сортировку{% endblock %}
{% block content %}
<form action="" method="post">
  <input type="hidden" name="id" value="{{ id }}">
  <p><label>Имя</label> <input type="text" name="nm" value="{{ nm }}" autofocus>
  <p><label>ORDER BY</label> <input type="text" name="ob" value="{{ ob }}">
  <p><label>Коммментарий</label> <input type="text" name="cm" value="{{ cm }}">
  <p><label></label> <input type="submit" value="Сохранить">
</form>
{% endblock %}
