<article>
<table class="money_table">
 <thead><tr>
  <th>№<th><th>Дата<th colspan="2">Сумма<th>Контора<th>Подгруппа<th>Кошелёк<th>Юзер<th>Описание
 </thead><tbody>
{% for row in rows %}
  <tr class={% if row[3] %}"plus"{% else %}"minus"{% endif %}>
  <td>{{ row[0] }}
  <td class="edit"><div onclick="edit1({{ row[1] }})">Ред.</a>
  <td>{{ row[2] }}
  <td>{% if row[3] %}{{ "%.2f"|format(row[3]) }}{% endif %}
  <td>{% if row[4] %}{{ "%.2f"|format(row[4]) }}{% endif %}
  <td>{{ row[5] }}
  <td>{{ row[6] }}
  <td>{{ row[7] }}
  <td>{{ row[8] }}
  <td>{{ row[9] }}
{% endfor %}
 </tbody><tfoot>
{% for row in dvizh %}
  <tr>
  <td>
  <td>
  <td>Движение
  <td>{% if row[0] %}{{ "%.2f"|format(row[0]) }}{% endif %}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>= {% if row[1] %}{{ "%.2f"|format(row[2]) }}{% endif %}
  <td>
  <td>{{ row[3] }}
  <td>
  <td>
{% endfor %}
</tfoot>
</table>
<form id="mf" name="money_filters" method="post" action="">
  <p><label></label>
  <input type="button" value="Закрыть" onclick="id_close('money2')"></p>
</form>
{{ bottom }}
</article>
