{% extends "layout.html" %}
{% block title %}Кошелёк{% endblock %}
{% block content %}
<script>
function edit(id){
  window.open("/money_edit?id=" + id,"_self")
}
</script>
<table class="money_table">
 <thead><tr>
  <th>№<th><th>Дата<th colspan="2">Сумма<th>Контора<th>Подгруппа<th>Кошелёк<th>Юзер<th>Описание
{% for row in begina %}
  <tr>
  <td>
  <td>Нач.
  <td>{{ row[0] }}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>
  <td>
  <td>
  <td>{{ row[2] }}
  <td>
  <td>
{% endfor %}
{% for row in beginb %}
  <tr>
  <td>
  <td>=
  <td>{{ row[0] }}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>
  <td>
  <td>
  <td>
  <td>
  <td>
{% endfor %}
 </thead><tbody>
{% for row in rows %}
  <tr class={% if row[3] %}"plus"{% else %}"minus"{% endif %}>
  <td>{{ row[0] }}
  <td class="edit"><div onclick="edit({{ row[1] }})">Ред.</a>
  <td>{{ row[2] }}
  <td>{% if row[3] %}{{ "%.2f"|format(row[3]) }}{% endif %}
  <td>{% if row[4] %}{{ "%.2f"|format(row[4]) }}{% endif %}
  <td>{{ row[5] }}
  <td>{{ row[6] }}
  <td>{{ row[7] }}
  <td>{{ row[8] }}
  <td>{{ row[9] }}
{% endfor %}
 </tbody><tfoot>
{% for row in dvizh %}
  <tr>
  <td>
  <td>
  <td>Движение
  <td>{% if row[0] %}{{ "%.2f"|format(row[0]) }}{% endif %}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>= {% if row[1] %}{{ "%.2f"|format(row[2]) }}{% endif %}
  <td>
  <td>{{ row[3] }}
  <td>
  <td>
{% endfor %}
{% for row in summa %}
  <tr>
  <td>
  <td>Итг.
  <td>{{ row[0] }}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>
  <td>
  <td>
  <td>{{ row[2] }}
  <td>
  <td>
{% endfor %}
{% for row in itogo %}
  <tr>
  <td>
  <td>=
  <td>{{ row[0] }}
  <td>{% if row[1] %}{{ "%.2f"|format(row[1]) }}{% endif %}
  <td>
  <td>
  <td>
  <td>
  <td>
  <td>
{% endfor %}
</tfoot>
</table>
<article>
<form id="mf" name="money_filters" method="post" action="">
  <input type="hidden" name="dt" value="{{ dt }}">
  <p><label></label><input type="button" value="Добавить транзакцию" name="money_edit" onclick="edit(-1)" autofocus></p>
  <p><label>Сортировка</label> <select name="mo">
  <option value="-1"></option>
{% for row in monor %}
  <option value="{{ row[0] }}"{% if mo==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Фильтр с:</label>
  <input type="date" value="{{ fr }}" name="fr"> по
  <input type="date" value="{{ to }}" name="to"></p>
  <p class="autocomplete" title="ввести название конторы из БД">
     <label>Контора</label> <input type="text" name="ik" id="ik" value="{{ serv }}">
  <p><label>Группа</label> <select name="ib">
  <option value="-1"></option>
{% for row in bgrup %}
  <option value="{{ row[0] }}"{% if ib==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Подгруппа</label> <select name="ig">
  <option value="-1"></option>
{% for row in grups %}
  <option value="{{ row[0] }}"{% if ig==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Кошелёк</label> <select name="iw">
  <option value="-1"></option>
{% for row in walls %}
  <option value="{{ row[0] }}"{% if iw==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Пользователь</label> <select name="iu">
  <option value="-1"></option>
{% for row in users %}
  <option value="{{ row[0] }}"{% if iu==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label></label>
  <input type="submit" value="Обновить фильтр"></p>
</form>
{{ bottom }}
</article>
<script>
/* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
    var a, b, i, j, k, val = this.value;
    closeAllLists();
    if (!val) { return false;}
    currentFocus = -1;
    k = 0;
    a = document.createElement("div");
    a.setAttribute("id", this.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    this.parentNode.appendChild(a);
    for (i = 0; i < arr.length; i++) {
      j = arr[i].toUpperCase().indexOf(val.toUpperCase());
      if (j >= 0) {
        b = document.createElement("div");
        b.innerHTML = arr[i].substr(0, j);
        b.innerHTML += '<strong>' + arr[i].substr(j, val.length) + '</strong>';
        b.innerHTML += arr[i].substr(j + val.length);
        b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
        b.addEventListener("click", function(e) {
          inp.value = this.getElementsByTagName("input")[0].value;
          closeAllLists();
        });
        a.appendChild(b);
        k++;
      }
    }
    if (k == 0) {
      b = document.getElementById("p_cm");
      if (!b) {
        b = document.createElement("p");
        b.setAttribute("id", "p_gr");
        b.innerHTML += 'Контора отсутствует в БД';
        this.parentNode.after(b);
      }
    } else {
      b = document.getElementById("p_cm");
      if (b) b.remove();
      b = document.getElementById("p_gr");
      if (b) b.remove();
    }
  });
  inp.addEventListener("keydown", function(e) {
    var x = document.getElementById(this.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
    if (e.keyCode == 40) {
      currentFocus++;
      addActive(x);
    } else if (e.keyCode == 38) { //up
      currentFocus--;
      addActive(x);
    } else if (e.keyCode == 13) {
      e.preventDefault();
      if (currentFocus > -1) {
        if (x) x[currentFocus].click();
      }
    }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}

document.addEventListener("click", function (e) {
  closeAllLists(e.target);
});
}
var servs = [{% for row in servs %}"{{ row[1] }} | {{ row[0] }}",{% endfor %}];
autocomplete(document.getElementById("ik"), servs);
</script>
{% endblock %}
