{% extends "layout.html" %}
{% block title %}Редактировать транзакцию{% endblock %}
{% block content %}
<form action="" method="post" autocomplete="off">
  <input type="hidden" name="id" value="{{ id }}">
  <p><label>Дата</label> <input type="date" name="dt" value="{{ dt }}">
  <p><label>Сумма</label> <input type="number" step="0.01" name="sm" value="{{ sm }}" autofocus onfocus="this.select()">
  <p class="autocomplete" title="Если ввести название конторы без id, то контора будет добавлена в БД"><label>Контора</label> <input type="text" name="se" id="se" value="{{ serv }}">
  <p><label>Кошелёк</label> <select name="wa">
  <option value="-1"></option>
{% for row in walls %}
  <option value="{{ row[0] }}" {% if wa==row[0] %}selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Коммментарий</label> <input type="text" name="cm" value="{{ cm }}">
  <p><label></label> <input type="submit" value="Сохранить">
</form>
<script>
/* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
    var a, b, i, j, k, val = this.value;
    closeAllLists();
    if (!val) { return false;}
    currentFocus = -1;
    k = 0;
    a = document.createElement("div");
    a.setAttribute("id", this.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    this.parentNode.appendChild(a);
    for (i = 0; i < arr.length; i++) {
      j = arr[i].toUpperCase().indexOf(val.toUpperCase());
      if (j >= 0) {
        b = document.createElement("div");
        b.innerHTML = arr[i].substr(0, j);
        b.innerHTML += '<strong>' + arr[i].substr(j, val.length) + '</strong>';
        b.innerHTML += arr[i].substr(j + val.length);
        b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
        b.addEventListener("click", function(e) {
          inp.value = this.getElementsByTagName("input")[0].value;
          closeAllLists();
        });
        a.appendChild(b);
        k++;
      }
    }
    if (k == 0) {
      b = document.getElementById("p_cm");
      if (!b) {
        b = document.createElement("p");
        b.setAttribute("id", "p_gr");
        b.innerHTML = '<label>Подгруппа</label> <select name="se_gr"><option value="-1"></option>{% for row in grups %} <option value="{{ row[0] }}">{{ row[1] }}</option>{% endfor %}</select>';
        b.innerHTML += '<br>Контора отсутствует в БД, выберите подгруппу, контора будет добавлена в БД';
        this.parentNode.after(b);
        b = document.createElement("p");
        b.setAttribute("id", "p_cm");
        b.innerHTML = '<p><label>Описание конторы</label> <input type="text" name="se_cm" value="">';
        this.parentNode.after(b);
      }
    } else {
      b = document.getElementById("p_cm");
      if (b) b.remove();
      b = document.getElementById("p_gr");
      if (b) b.remove();
    }
  });
  inp.addEventListener("keydown", function(e) {
    var x = document.getElementById(this.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
    if (e.keyCode == 40) {
      currentFocus++;
      addActive(x);
    } else if (e.keyCode == 38) { //up
      currentFocus--;
      addActive(x);
    } else if (e.keyCode == 13) {
      e.preventDefault();
      if (currentFocus > -1) {
        if (x) x[currentFocus].click();
      }
    }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}

document.addEventListener("click", function (e) {
  closeAllLists(e.target);
});
}
var servs = [{% for row in servs %}"{{ row[1] }} | {{ row[0] }}",{% endfor %}];
autocomplete(document.getElementById("se"), servs);
</script>
{% endblock %}
