<article>
<form action="" method="post">
  <input type="hidden" name="ik" value="{{ ik }}">
  <input type="hidden" name="id" value="{{ id }}">
  <p><label>Дата</label> <input type="date" name="dt" value="{{ dt }}">
  <p><label>Сумма</label> <input type="number" step="0.01" name="sm" value="{{ sm }}" autofocus onfocus="this.select()">
  <p><label>Контора</label> <select name="se">
  <option value="-1"></option>
{% for row in servs %}
  <option value="{{ row[0] }}"{% if se==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Кошелёк</label> <select name="wa">
  <option value="-1"></option>
{% for row in walls %}
  <option value="{{ row[0] }}"{% if wa==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label>Коммментарий</label> <input type="text" name="cm" value="{{ cm }}">
  <p><label></label> <input type="button" value="Сохранить" onclick="save1()">
  <p><label></label> <input type="button" value="Закрыть" onclick="id_close('money2_edit')"></p>

</form>
</article>
