{% extends "layout.html" %}
{% block title %}Отчёт №3, в среднем за месяц, подгруппы{% endblock %}
{% block content %}
<article><p>Отчёт №3, в среднем за месяц, подгруппы
<form id="mf" name="money_filters" method="post" action="">
  <p><label>с </label>
  <input type="date" value="{{ fr }}" name="fr" autofocus> по
  <input type="date" value="{{ to }}" name="to">
  <input type="submit" value="Обновить фильтр"></p>
</form>
</article>
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['В среднем'],
    datasets: [
{% for row in rows %}
    {
      label: '{{ row['name'] }}',
      backgroundColor: '{{ row['color'] }}',
      borderColor: '{{ row['color'] }}',
      fill: false,
      data: [
    {% for key in row %}
      {% if row[key] is number %}
        {{ row[key] }},
      {% endif %}
    {% endfor %}
      ]
    },
{% endfor %}
    ]
  },
  options: {
        tooltips: {
			mode: 'index',
			intersect: false,
		},
		hover: {
			mode: 'nearest',
			intersect: true
		},
}
});
</script>
{% endblock %}
