{% extends "layout.html" %}
{% block title %}Отчёт №2, помесячно, группы{% endblock %}
{% block content %}
<script>
function get1(mn,ib){
 var data = "/money2?mn=" + mn + "&ib=" + ib;
 ajaxsend1(data, get_new_sect('money2'));
}
</script>
<article><p>Отчёт №2, помесячно, группы
<form id="mf" name="money_filters" method="post" action="">
  <p><label>с </label>
  <input type="date" value="{{ fr }}" name="fr" autofocus> по
  <input type="date" value="{{ to }}" name="to">
  <input type="submit" value="Обновить фильтр"></p>
</form>
</article>
<table><tr><th>Группа
{% for row in columns %}
<th>{{ row[0] }}
{% endfor %}
{% for row in rows %}
  <tr>
  <td>{{ row['name'] }}
  {% for key in row %}
    {% if loop.index != 1 %}
    {% if row[key] is number %}
    <td class="edit num" align="right">
      <div onclick="get1('{{ key }}',{{ row['bgrup_id'] }})">{{ "%.2f"|format(row[key]) }}</div>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
</table>
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [
{% for row in columns %}
'{{ row[0] }}',
{% endfor %}
    ],
    datasets: [
{% for row in rows %}
    {
      label: '{{ row['name'] }}',
      backgroundColor: '{{ row['color'] }}',
      borderColor: '{{ row['color'] }}',
      fill: false,
      data: [
    {% for key in row %}
      {% if loop.index != 1 %}
      {% if row[key] is number %}
        {{ row[key] }},
      {% endif %}
      {% endif %}
    {% endfor %}
      ]
    },
{% endfor %}
    ]
  },
  options: {
    tooltips: {
    mode: 'index',
    intersect: false,
    },
  }
});
</script>
{% endblock %}
