{% extends "layout.html" %}
{% block title %}Отчёт №6, помесячно, группа, конторы{% endblock %}
{% block content %}
<article><p>Отчёт №6, помесячно, группа, конторы
<form id="mf" name="money_filters" method="post" action="">
  <p><label>с </label>
  <input type="date" value="{{ fr }}" name="fr" autofocus> по
  <input type="date" value="{{ to }}" name="to">
  <p><label>Группа</label> <select name="ig">
  <option value="-1"></option>
{% for row in bgrup %}
  <option value="{{ row[0] }}"{% if ig==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <input type="submit" value="Обновить фильтр"></p>
</form>
</article>
<table><tr><th>Группа
{% for row in columns %}
<th>{{ row[0] }}
{% endfor %}
{% for row in rows %}
  <tr>
  <td>{{ row['name'] }}
  {% for key in row %}
    {% if row[key] is number %}
    <td align="right">{{ "%.2f"|format(row[key]) }}
    {% endif %}
  {% endfor %}
{% endfor %}
</table>
{% endblock %}
