{% extends "layout.html" %}
{% block title %}Отчёт №7, помесячно, группа, подгруппы{% endblock %}
{% block content %}
<script>
function get1(mn,ig){
 var data = "/money2?mn=" + mn + "&ig=" + ig + "&ib=" + {{ ib }};
 ajaxsend1(data, get_new_sect('money2'));
}
</script>
<article><p>Отчёт №7, помесячно, группа, подгруппы
<form id="mf" name="money_filters" method="post" action="">
  <p><label>с </label>
  <input type="date" value="{{ fr }}" name="fr" autofocus> по
  <input type="date" value="{{ to }}" name="to">
  <p><label>Группа</label> <select name="ib">
  <option value="-1"></option>
{% for row in bgrup %}
  <option value="{{ row[0] }}"{% if ib==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <input type="submit" value="Обновить фильтр"></p>
</form>
</article>
<table><tr><th>Подгруппа
{% for row in columns %}
<th>{{ row[0] }}
{% endfor %}
{% for row in rows %}
  <tr>
  <td>{{ row['name'] }}
  {% for key in row %}
    {% if loop.index != 1 %}
    {% if row[key] is number %}
    <td class="edit num" align="right">
      <div onclick="get1('{{ key }}',{{ row['grups_id'] }})">{{ "%.2f"|format(row[key]) }}</div>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
</table>
{% endblock %}
