{% extends "layout.html" %}
{% block title %}Конторы{% endblock %}
{% block content %}
<script>
function edit(id){
 window.open("/servs_edit?id=" + id,"_self")
}
function get1(ik){
 var data = "/money2?ik=" + ik;
 ajaxsend1(data, get_new_sect('money2'));
}
function edit1(id){
 var data = "/money2_edit?id=" + id;
 ajaxsend1(data, get_new_sect('money2_edit'));
}
function save1(){
 var data = "ik=" + encodeURIComponent(document.querySelectorAll('[name="ik"]')[0].value)
         + "&id=" + encodeURIComponent(document.querySelectorAll('[name="id"]')[0].value)
         + "&dt=" + encodeURIComponent(document.querySelectorAll('[name="dt"]')[0].value)
         + "&sm=" + encodeURIComponent(document.querySelectorAll('[name="sm"]')[0].value)
         + "&se=" + encodeURIComponent(document.querySelectorAll('[name="se"]')[0].value)
         + "&wa=" + encodeURIComponent(document.querySelectorAll('[name="wa"]')[0].value)
         + "&cm=" + encodeURIComponent(document.querySelectorAll('[name="cm"]')[0].value);
 ajaxsend("/money2_edit", data, get_new_sect('money2'));
 id_close('money2_edit');
}
</script>
<table>
 <thead><tr>
  <th><th>Имя<th>Описание<th>Подгруппа
 </thead><tbody>
{% for row in rows %}
  {% if row[4]==0 %}
  <tr class="minus">
  {% else %}
  <tr>
  {% endif %}
  <td class="edit"><div onclick="edit({{ row[0] }})">Ред.</div>
  <td>{{ row[1] }}
  <td>{{ row[2] }}
  <td>{{ row[3] }}
  <td class="edit num"><div onclick="get1({{ row[0] }})">{{ row[4] }}</div>
{% endfor %}
 </tbody>
</table>
<article>
<form id="tf" name="table_filters" method="post" action="">
  <p><label></label><input type="button" value="Добавить запись" name="table_edit" onclick="edit(-1)"></p>
  <p><label>Подгруппа</label> <select name="ig">
  <option value="-1"></option>
{% for row in grups %}
  <option value="{{ row[0] }}"{% if ig==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
</form>
</article>
{% endblock %}
