{% extends "layout.html" %}
{% block title %}Редактировать пользователя{% endblock %}
{% block content %}
<form action="" method="post">
  <input type="hidden" name="id" value="{{ id }}">
  <p><label>Имя</label> <input type="text" name="un" value="{{ un }}" autofocus>
  <p><label>Пароль</label> <input type="text" name="pw" value="{{ pw }}">
  <p><label>Имя</label> <input type="text" name="nm" value="{{ nm }}">
  <p><label>Коммментарий</label> <input type="text" name="cm" value="{{ cm }}">
  <p><label>Кошелёк</label> <select name="wa">
  <option value="-1"></option>
{% for row in walls %}
  <option value="{{ row[0] }}"{% if wa==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label></label> <input type="submit" value="Сохранить">
</form>
{% endblock %}
