{% extends "layout.html" %}
{% block title %}Редактировать кошелёк{% endblock %}
{% block content %}
<form action="" method="post">
  <input type="hidden" name="id" value="{{ id }}">
  <p><label>Имя</label> <input type="text" name="nm" value="{{ nm }}" autofocus>
  <p><label>Коммментарий</label> <input type="text" name="cm" value="{{ cm }}">
  <p><label>Пользователь</label> <select name="us">
  <option value="-1"></option>
{% for row in users %}
  <option value="{{ row[0] }}"{% if us==row[0] %} selected{% endif %}>{{ row[1] }}</option>
{% endfor %}
  </select>
  <p><label></label> <input type="submit" value="Сохранить">
</form>
{% endblock %}
